.login {
    height: 100vh;
    width: 100vw;
}

.jumbotron {
    height: 100%;
    width: 100%;
}

.login-form {
    width: 300px;
    height: auto;
}

.result-page {
    display: flex;
    justify-content: center;
}

.result-card {
    width: 400px;
    height: auto;
}

@media (min-width: 768px) {
    .question-section {
        padding: 150px 200px 150px 200px;
    }
    .result-page {
        padding: 150px 200px 150px 200px;
    }
}